.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.header {
  color: #4caf50;
  text-align: center;
}

.label {
  margin-right: 10px;
}

.input {
  padding: 5px;
  margin-right: 10px;
}

.button {
  padding: 5px 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.button-gray {
  padding: 5px 10px;
  background-color: #2d302d;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.button-refresh {
  padding: 5px;
  background-color: #848684;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.table {
  border-collapse: collapse;
  margin-top: 20px;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table th {
  background-color: #f2f2f2;
  font-weight: bold;
}
